# Ignore node_modules
node_modules

# Ignore build directories
dist
build

# Ignore configuration files
*.config.js
*.config.json

# Ignore logs
*.log

# Ignore coverage directory
coverage

# Ignore environment variables
.env